<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      Inicio
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <img src="assets/outro.png"  *ngIf="!preview">
    <img [src]="preview"  *ngIf="preview">
  </ion-item>
<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Collections</ion-card-subtitle>
      <ion-card-title>O que é coleção</ion-card-title>
    
    </ion-card-header>
  
    <ion-card-content>  
  Uma coleção é o resultado do ato de colecionar, da reunião, 
  do ajuntamento ou da compilação de objetos de natureza semelhante. 
  Existem vários tipos de coleções e colecionadores: de selos, moedas, carros, 
  obras de arte e até mesmo as de objetos variados. 
  Se buscarmos informações sobre a história da formação das primeiras coleções, 
  veremos que desde  a Antiguidade o homem reúne objetos com motivações diversas: prazer, 
  vaidade, apego material, geração de conhecimento, afirmação de valores.
    </ion-card-content>
  </ion-card> 
  
</ion-content>